body {
    background-color: cyan;
}

.villagerListTitle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.villagerListElements {
    align-items: flex-start;
}